[user]
	name = Abdulaziz AlShetwi
	email = ecleeld@gmail.com
[color]
	ui = auto

[alias]
	co = checkout
	ci = commit
  rb = rebase
	st = status
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	wip = "git add -A; git ls-files --deleted -z | xargs -0 git rm; git commit -m \"wip\""
	unwip = git log -n 1 | grep -q -c wip && git reset HEAD~1
